.slides {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides > .slides-wrapper {
    width: 100%;
    position: relative;
    left: 0px;
}

.slides > .next:hover, .slides > .prev:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.slides > .next {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0%;
    cursor: pointer;
}

.slides > .prev {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    top: 0%;
    cursor: pointer;
}